.primary-bg,
.ms-layer.text59 {
    background-color: #ca5506; /* FFB606 */
}

.toplist li,
.toplist li a {
    color: #ffece9;
}

.toplist li a:hover {
    color: #fff;
}

.text-primary,
ul.nav > li > a.active,
ul.nav > li > a:hover.active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #ca5506;
}

.ms-layer.sbut2:hover {
    background-color: #ca5506;
    color: #fff;
}

.navbar-brand {
    padding: 8px 0 0;
}

.lspace-sm,
.lspace-1 {
    letter-spacing: unset;
}

.ms-layer.text78 {
    letter-spacing: 5px;
}

.iconlist.orange li i {
    color: #ca5506;
    padding: 0 15px 0 0;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn.btn-primary {
    border-color: #ca5506;
}

.btn.btn-primary.dark {
    background-color: #ca5506;
}

.btn.btn-primary.dark:hover {
    color: #fff;
    background-color: #242424;
}

.btn.btn-large {
    font-size: 18px;
    border-radius: 30px;
}

.section-primary {
    background-color: #ca5506;
}

.email_input::placeholder {
    color: #fff;
}

.input_holder {
    float: unset;
    display: flex;
}

.post-date-box {
    background-color: #ca5506;
}

.parallax-section69 {
    background-image: url(../images/reviews.jpg);
}

blockquote.style1 {
    color: #c0c0c0;
}

input[type=search] {
    outline: none;
}

input[type=search]:focus {
    border-color: #fff;
}

.feature-box19.number .iconbox-small {
    line-height: 78px;
    font-size: 42px;
    font-weight: 100;
    color: #ca5506;
}

.feature-box19.number .iconbox-small {
    line-height: 78px;
    font-size: 28px;
    font-weight: 100;
    color: #ca5506;
}

.feature-box19.number:hover .iconbox-small,
.feature-box19.number.active .iconbox-small {
    color: #fff;
    background-color: #ca5506;
    border: 1px solid #ca5506;
    transform: scale(1.1);
}

.feature-box19.number:hover h4,
.feature-box19.number.active h4 {
    color: #ca5506;
}

.footer-tags li a:hover,
.footer-tags li a.active {
    border: 1px solid #ca5506;
    color: #ca5506;
}

.social-icons-3 li a {
    color: #ca5506;
}

.social-icons-3 li a:hover,
.social-icons-3 li a.active {
    background-color: #ca5506;
}

.img-responsive {
    width: 100%;
}

.smart-forms .btn-primary {
    background-color: #ca5506;
}

.smart-forms .btn-primary:hover,
.smart-forms .btn-primary:focus {
    background-color: #ab3c2c;
}

.smart-forms .switch > input:checked + .switch-label {
    border-color: #ca5506;
    background: #ca5506;
}

.smart-forms .gui-input:hover {
    border-color: #ca5506;
}

.smart-forms .gui-input:focus {
    border: 1px solid #ca5506;
    box-shadow: 0px 0px 3px #ca5506 inset;
}

.smart-forms .gui-input:focus ~ .field-icon i,
.smart-forms .gui-textarea:focus ~ .field-icon i {
    color: #ca5506;
}

.smart-forms .section.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.smart-forms .smart-link {
    color: #ca5506;
}

.smart-forms input:checked + .checkbox,
.smart-forms input:hover + .checkbox,
.smart-forms input:checked + .radio,
.smart-forms input:hover + .radio,
.smart-forms .checkbox:before {
    border-color: #ca5506;
}

.ms-layer.text58 {
    padding: 10px;
    font-size: 50px;
}

.ms-layer.text59 {
    padding: 5px;
    font-size: 30px;
}

.ms-layer.sbut1,
.ms-layer.sbut2 {
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 16px;
}

.ms-layer.sbut2 {
    padding: 22px 40px;
}

/* It's easy block */
.content-container {
    margin: 0 auto 100px;
    max-width: 950px;
    position: relative;
}

.mid-picture {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: -180px;
}

.mid-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 360px;
    border: 20px solid #eea0a0;
    border-radius: 50%;
    background-color: #ca5506;
}

.mid-circle p {
    line-height: 42px;
    font-weight: 800;
    text-align: center;
    color: #fff;
    font-size: 44px;
    text-transform: uppercase;
}

.mid-circle p span {
    color: #000;
}

.bubbles-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 470px;
}

.bubbles-container:first-child {
    align-items: end;
    margin-bottom: 120px;
}

.bubbles-container:first-child .bubble:nth-child(2) {
    align-self: flex-start;
}

.bubbles-container:last-child .bubble:nth-child(2) {
    align-self: flex-end;
}

.bubble {
    padding: 24px;
    padding-top: 50px;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, .25);
    text-align: center;
}

.bubble .iconbox-xtiny {
    margin-bottom: 10px;
}

.bubble .iconbox-xtiny span {
    font-size: 50px;
    color: #ca5506;
}

.bubble p {
    font-size: 18px;
}

.arrows .arrow {
    position: absolute;
    width: 24px;
    height: 504px;
    background-image: url("../images/easy-start/circle-arrow.svg");
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -252px;
    z-index: -1;
}

.arrows .arrow:nth-child(2) {
    transform: rotate(60deg);
}

.arrows .arrow:nth-child(3) {
    transform: rotate(-60deg);
}

.section-side-image .text-inner.inner-left {
    padding: 80px 0 80px 80px;
}

.testimonials {
    background-color: #f9f9f9;
}

.testimonials .item {
    margin-bottom: 70px;
}

.testimonials .text-box {
    width: 100%;
    padding: 30px;
    margin: 0 0 25px 0;
    float: left;
    border: 1px solid #e4e4e4;
    height: 320px;
    background-color: #fff;
}

.testimonials .text-box p {
    overflow-y: hidden;
    height: 200px;
    margin-bottom: 20px;
}

.testimonials .image {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 100%;
}

.testimonials .item img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.testimonials .info {
    display: block;
    margin: 0;
    padding: 0 0 0 120px;
    text-align: left;
}

.btn.btn-primary {
    background-color: #ca5506;
}

.btn.btn-primary:hover {
    background-color: #ad3323;
}

.feature-box-84 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 195px;
}

.feature-box-84 .text-white {
    margin-bottom: 0;
    line-height: 1.25;
}

.lk-modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .9);
    z-index: 999;
    display: none;
}

.lk-modal {
    height: 500px;
}

.modal-close-wrap {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-close {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    width: 100%;
    height: 6px;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    border-radius: 3px;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-video {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.modal-video-play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFBC1A;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    background-image: url("../images/play-icon.svg");
    background-repeat: no-repeat;
    background-position: left 20px center;
    z-index: 999;
    transition: all .3s;
}

.modal-video-play:hover {
    background-color: #ffc949;
}

/* Видео на главной */
.video-js {
    max-width: 100%;
    width: 1200px;
}

@media screen and (min-width: 992px) {
    .video-js {
        height: 600px;
    }
}

@media screen and (max-width: 992px) {
    .mid-picture {
        display: flex;
        justify-content: center;
        position: unset;
        margin-left: unset;
        margin-top: unset;
        margin-bottom: 50px;
    }

    .mid-circle {
        width: 260px;
        height: 260px;
    }

    .mid-circle p {
        line-height: 32px;
        font-size: 32px;
    }

    .arrows .arrow:not(:first-child) {
        display: none;
    }

    .arrows .arrow:first-child {
        top: unset;
        bottom: -75px;
        height: 75px;
        background-position: bottom center;
    }

    .bubbles-container:first-child {
        margin-bottom: unset;
    }

    .bubbles-container:first-child .bubble:nth-child(2),
    .bubbles-container:last-child .bubble:nth-child(2) {
        align-self: unset;
    }

    .bubbles-container {
        min-height: unset;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
        justify-content: center;
    }

    .bubbles-container .bubble {
        margin: 20px;
    }
}


